html {
    scroll-behavior: smooth;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
   padding: 1rem 0 0 0;

}

.table-image{
    width: 500px;
    margin: 0 auto;

}

/* UTILITIES */
.border-bot{
    border-bottom: 1px solid black;

}   
.center-text{
    text-align: center;
}
.margen-bot{
    margin-bottom: 2rem;
}
/* FOOTER */



footer div{
    background-color:  #333;
    padding: 1rem;
}




